[class^="icon-"],
[class*=" icon-"] {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
/* fix buttons height */
  line-height: 1em;
/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
}

.icon-mail { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2709;&nbsp;'); }
.icon-facebook-rect { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf301;&nbsp;'); }
.icon-twitter-bird { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf303;&nbsp;'); }